<div class="widget-next-match">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Nbr</th>
        <th>Position</th>
        <th>Team Info</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player._id}}</td>
        <td>{{player.name}}<strong class="text-white"></strong></td>
        <td>{{player.age}}</td>
        <td>{{player.number}} </td>
        <td>{{player.position}}</td>
        <td>
          <span>{{player.tId.name}} </span><br>
          <span>{{player.tId.owner}}</span> <br>
          <span>{{player.tId.foundation}}</span> 
        </td>
        <td>
          <button class="btn btn-info"
            (click)="goToDisplayPlayer(player._id)">Display</button>
          <button class="btn btn-warning"
            (click)="goToEditPlayer(player._id)">Edit</button>
          <button class="btn btn-danger"
            (click)="deletePlayer(player._id)">Delete</button>
        </td>

      </tr>

    </tbody>
  </table>
</div>