<div class="widget-next-match">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Team One</th>
          <th>Team Two</th>
          <th>Score One</th>
          <th>Score Two</th>
          <th>Actions</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches">
          <td>{{match._id}}</td>
          <td>{{match.teamOne}}<strong class="text-white"></strong></td>
          <td>{{match.teamTwo}}</td>
          <td>{{match.scoreOne}} </td>
          <td>{{match.scoreTwo}}</td>
          <td>
            <button class="btn btn-info" (click)="goToDisplay(match._id)">Display</button>
            <button class="btn btn-warning" (click)="goToEdit(match._id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteMatch(match._id)">Delete</button>
          </td>
       
        </tr>
     
      
      </tbody>
    </table>
  </div>